import os
import pytesseract
from pdf2image import convert_from_path
from langchain.text_splitter import RecursiveCharacterTextSplitter
from langchain_openai import OpenAIEmbeddings, OpenAI
from langchain_community.vectorstores import FAISS
from langchain.chains import RetrievalQA
from pypdf import PdfReader
from docx import Document
from dotenv import load_dotenv
from flask import Flask, request, render_template, jsonify